body {
  background: #4B365A;
  font-family: 'Courier New', Courier, monospace;
}

a {
  text-decoration: none;
  line-height: $btn-height;
  color: black;
}

h1 {
  max-width: 65vw;
  font-size: 5em;
  text-align: right;
  margin: 120px auto;
  color: #C8BBC8;
}
h1::after {
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: blink .7s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.continue{
  /*display: none;*/
  position: absolute;
  right: 0;
  bottom: 120px;
  margin: auto;
  padding-top: 10vh;
  width: 50%;
}

.custom-btn {
  width: 100%;
  height: 80px;
  font-size: 3em;
  color: #fff;
  border-radius: 80px 0 0 80px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.botao {
  background-color: #A36EA3;
  line-height: 42px;
  padding: 0;
  border: none;
}
.botao span {
  border-radius: 80px 0 0 80px;
  padding-top: 15px;
  position: relative;
  display: block;
  margin-left: 10%;
  width: 90%;
  height: 100%;
}
.botao:before,
.botao:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #c797eb;
  transition: all 0.3s ease;
}
.botao:before{
   height: 0%;
   width: 2px;
}
.botao:after {
  width: 0%;
  height: 2px;
}
.botao:hover:after {
  width: 90%;
}
.botao:hover{
  background: transparent;
}
.botao span:hover{
  color: #c797eb;
}
.botao span:before,
.botao span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #c797eb;
  transition: all 0.3s ease;
}

.botao span:after {
  height: 2px;
  width: 0%;
}
.botao span:hover:after {
  margin-left: 10%;
  width: 90%;
}